<!-- Toolbar -->

<div class="toolbar">
  <p class="title">Welcome to COVID 19 Visualizer for India</p>
</div>

<div class="content">
<!-- Resources -->  
  <div class="card-container">
    <button class="card">
      <span class="title2"><a routerLink="/totalCases" routerLinkAcive="active">Total Cases in India</a></span>
    </button>
  </div>
  <div class="card-container">
    <button class="card">
      <span class="title2"><a routerLink="/recoveredCases">Total Recovered Cases in India</a></span>
    </button>
  </div>
  <div class="card-container">
    <button class="card">
      <span class="title2"><a routerLink="/deathCases">Total Death Cases in India</a></span>
    </button>
  </div>
</div>

  <ul>
    <li>Designed by Bala Logesh S</li>
    <li style="float:right"><a target="_blank" rel="noopener" href="https://github.com/Bala-Logesh/Covid19-Tracker">Github Repository</a></li>
  </ul>

<router-outlet></router-outlet>